@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@100&family=VT323&display=swap');

* {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	background-color: black;
}

#start, 
#waiting-screen
{
	height: 100vh;
	width: 100vw;
	background-color: black;
}

#start,
#waiting-screen,
#waiting-wrapper,
#game-wrapper,
#countdown-wrapper,
#score-board,
#play-again-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#waiting-screen,
#start-title,
#play-again-wrapper {
	font-family: 'Fredoka One', cursive;
	color: white;
}

#ghostbusters-logo {
	width: 30%;
}


#countdown {
    font-size: 90px;
    color: black;
}

#countdown-wrapper {
    height: 80vh;
}

#thegame{
	background-color:rgb(94, 72, 125); 
	height: 80vh; 
	width: 80vw; 
	position: relative;
}

#ghost-animation {
	width: 30%;
}

.hide {
	visibility: hidden !important;
}

.display-none {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;
}

#ghost {
	height: 60px;
	width: 40px;
	position: absolute;
	font-size: 40px;
	background: transparent;
}

#game-board{
	display: flex;
	height: 100vh;
	width: 100vw;
	font-family: 'Fredoka One', cursive;
	justify-content: space-around;
}



#game-title, 
#start-title,
#play-again-title {
	font-size: 4rem;
	padding: 1em;
	color: white;
}

#score-board {
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 20vw;
	padding: 20px;
}

#timer-display,
#timer-display-two {
	font-family: 'Roboto Mono', monospace;
	color: black;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 15px;
}


#play-again-wrapper {
	height: 100vh;
	width: 100vw;
	font-family: 'Fredoka One', cursive;
}