@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=VT323&display=swap');

* {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	color: white;
	background-color: black;
}


#app,
#start, 
#waiting-screen
{
	height: 100vh;
	width: 100vw;
	background-color: black;
}

#start,
#waiting-screen,
#waiting-wrapper,
#game-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#waiting-screen {
	font-family: 'Fredoka One', cursive;
}

#app {
	background-color: rgb(0, 0, 0);
}

#thegame{
	background-color:rgb(150, 150, 219); 
	height: 80vh; 
	width: 70vw; 
	position: relative;
}

#ghost-animation {
	width: 30%;
}

.hide {
	visibility: hidden !important;
}

.display-none {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;
}

#ghost {
	height: 80px;
	width: 50px;
	position: absolute;
	font-size: 50px;
	background: transparent;
}

#game-board{
	display: flex;
	height: 100vh;
	font-family: 'Fredoka One', cursive;
}

#game-title {
	font-size: 4rem;
}



#time-text {
	font-family: 'VT323', monospace;
	color: black;
	background-color: white;
}


.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  



